/* Empty file for template. Remember to edit only this file and not the HTML file */

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, em, img, ol, ul, li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(170, 217, 255);
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(black-hole-color.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    filter: invert(100%);
}

body {
    
}

body:before, body:after {

}

body:before {

}

body:after {

}

.page-wrapper {
    background-color: rgba(255, 255, 255, .1);
    margin: 25px;
    padding: 25px;
    position: center center;
}

.page-wrapper:before {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: grayscale(10%)
}

.page-wrapper:after {
    
}

h1, h2, h3, h4, h5 {

}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    text-align: center;
    font-size: 3.5em;
    color: rgb(208, 241, 255);
}

a {

}

a:hover, a:focus {

}

p {

}

/* -------INTRO SECTION------ */
.intro {
 max-width: 75vw;
}

.intro p {

}

.summary p:nth-child() {

}

.summary a {

}

.intro h1 {

}

.intro h1:before {

}

.intro h2 {

}

.preamble {

}

.preamble p:first-line {

}

.preamble p:nth-child() {

}

.preamble p:nth-child():first-line {

}

/* -------SIDEBAR ASIDE------- */
.design-selection h3 {

}

.design-selection {

}

.design-selection ul {

}

.design-selection li {

}

.design-selection li a {

}

.sidebar a:hover, .sidebar a:focus {

}

.design-name {

}

.design-name:after {

}

.designer-name {

}

h3.archives, h3.resources {

}

.design-archives {

}

.design-archives ul {

}

.design-archives .viewall {

}

.design-archives .previous a, .design-archives .next a {

}

.design-archives .next a:hover, .design-archives .next a:focus {

}

.design-archives .previous a:hover, .design-archives .previous a:focus {

}

.viewall a, .zen-resources a {

}

.design-archives .next a {

}

.design-archives .previous a {

}

.sidebar .wrapper {
    position: fixed;
    max-width: 25vw;
}

.zen-resources {

}

.zen-resources:after, .zen-resources ul:after {

}

.zen-resources:after {

}

.zen-resources ul:after {

}

.zen-resources ul {

}

.zen-resources li {

}

/* -------EXPLANATION------- */
.explanation {

}

.explanation p:first-line, .participation p:first-line, .benefits p:first-line {

}

.explanation p:nth-child():first-line, .participation p:nth-child():first-line, .benefits p:nth-child():first-line {

}

.explanation h3 {

}

.explanation p {

}

.explanation p:nth-child() {

}

.benefits {

}

.benefits p:last-child {

}

.benefits h3 {

}

.benefits p {

}

.benefits:before {

}

.benefits:after {

}

.benefits p:after {

}

.requirements h3 {

}

.requirements {

}

.requirements p:nth-child() {

}

.requirements p:last-child {

}

footer:after {

}

footer {

}

footer a {

}

footer a:hover, footer a:focus {

}

/* ------- OMG FLEXBOX ------ */
.page-wrapper {

}

.intro {

}

.main {
    max-width: 75vw;
}

.sidebar {

}

