/* Empty file for template. Remember to edit only this file and not the HTML file */

:root {
    --sidebar: 220px;
    --accent: #0ea5e9;
    --accent-hover: #ffffff;
    --accent-visited: #3b82f6;
    --bg: linear-gradient(135deg, #000811, #001333, #000811);
    --card: #000000;
    --muted: #6b7280;
    --muted-size: 16px;
    --border-color: #2c2e31;
    --header-color: #adc7d2;
    --text-color: #60a8da;
    --offset-color: #f9ffff;
    --radius: 16px;
    --background-color: #00050f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

#css-zen-garden {
    background: var(--bg);
    line-height: 1.6;
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    margin: 5px;
    padding: 1px;
}

*:not(h1,h2,h3) {
    color: var(--text-color);
    text-align: justify;
}

*::selection {
    background: var(--accent);
    color: var(--accent-hover);
}

h1:first-of-type {
    font-size: 100px;
    color: var(--header-color);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align: center;
}

h1::before {
    display: inline-block;
    position: relative;
    top: 20px;
    content: "";
    width: 100px;
    height: 100px;
    margin: -20px 20px 0 0;
    background: url(spacecraft-interstellar.webp);
    opacity: 0.85;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-self: center;
}

h2:only-child {
    font-size: 50px;
    margin-bottom: 10px;
    color: var(--header-color);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align: center;
}

h2 > abbr {
    color: var(--header-color);
    text-decoration: none;
    border-bottom: none;
}

h2 > abbr:hover, p>abbr:hover {
    color: var(--accent-hover);
}

h3:only-of-type {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--header-color);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align: start;
}

h3 ~ nav ul{
    list-style-type: none;
}

h3 + ul {
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 20px;
}

a:focus {
    outline: 2px solid var(--accent);
    outline-offset: 4px;
}

a:visited {
    color: var(--accent-visited);
    outline: 2px solid var(--accent);
    outline-offset: 4px;
}

a:link {
    text-decoration: none;
    color: var(--accent);
}

a:hover{
    color: var(--accent-hover);
    outline: none;
}
a:active {
    color: var(--accent);
}

a[href^="/"][href$="/"]::after {
    content: " →";
}

p::first-letter {
    font-size-adjust: .75;
}

.page-wrapper p::first-line {
    font-weight: bolder;
}

p > abbr {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: none;
}

section.intro {
    grid-area: intro;
}

footer  {
    padding: 20px;
    margin-top: 10px;
    width: max-content;
}

footer a[class^="zen"] {
    text-decoration-line: overline underline;
    text-decoration-color: var(--text-color);
    text-decoration-style: single;
    text-decoration-thickness: 2px;
}

div[role~="article"] h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--header-color);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align: start;
}

div[id|="design"] h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--header-color);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align: center;
}

div[class^="extra"] {
    background-color: #FF6A13;
    text-align: center;
    margin: 0px;
    height: 10px;
    width: 50px;
    position: absolute;
    left: 300px;
}

div:empty:nth-last-of-type(3) {
    background-color: #00B5E2;
    width: 50px;
    position: absolute;
    left: 50px;
}

div:empty:nth-child(2) {
    background-color: #00B140;
    width: 50px;
    position: absolute;
    left: 250px;
}

div:empty:nth-last-child(3) {
    background-color: #000000;
    width: 50px;
    position: absolute;
    left: 200px;
}

div:empty:nth-of-type(3) {
    background-color: #FFEA00;
    width: 50px;
    position: absolute;
    left: 150px;
}

div:empty:last-of-type {
    background-color: #D1007F;
    width: 50px;
    position: absolute;
    left: 100px;
}

.wrapper:first-child .design-selection, .wrapper .design-archives, .wrapper .zen-resources {
    border: 2px solid var(--border-color);
    border-radius: var(--radius);
    background-color: var(--card);
    padding: 20px;
    margin-top: 15px;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.1);
}

.page-wrapper{
    display: grid;
    grid-template: repeat(2,auto) / auto max-content;
    grid-template-areas: "intro side"
                         "content side";
    gap: 20px;
}

.main.supporting {
    grid-area: content;
    column-count: 2;
    column-gap: 20px;
}

.explanation, .participation, .benefits, .requirements {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--card);
    padding: 20px;
    box-sizing: border-box;
    border-radius: var(--radius);
    border: 2px solid var(--border-color);
}

.sidebar:last-child {
    grid-area: side;
    margin: 10%;
}

.explanation h3::after {
    content: url(icon-about.png);
    filter: invert(100%)
}

.participation h3::after {
    content: url(icon-people.png);
    filter: invert(100%)
}

.benefits h3::after {
    content: url(icon-benefit.png);
    filter: invert(100%)
}

.requirements h3::after {
    content: url(icon-checkbox.png);
    filter: invert(100%)
}

[title*="Sheets"] {
    color: var(--offset-color);
}

[role=banner] {
    background-image: url(black-hole.jpg);
    border-radius: var(--radius);
    background-size: cover;
    background-position: center;
    padding: 50px;
}  

[title] {
    cursor: help;
    border-bottom: 1px dotted var(--text-color);
    border-bottom: none;
    text-decoration: none;
}